div {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 100px;
}

/* transform은 요소를 변형시키는 기능 */
/* 이동, 확대, 축소, 기울이기 */

/* 이동하기 transfor: translate(x축, y축) */

/* div:hover {
    transform: translate(100px,200px);
} */

/* 확대 축소하기 scale, scaleY, scaleX */
/* div:hover {
    transform: scale(0.5,2);
} */

/* 기울이기 skew(xdeg,ydeg), skewX(deg), skewY(deg) */
/* div:hover {
    transform: skew(30deg,30deg);
} */

/* 회전하기 rotate(deg) */
div:hover{
    transform: rotate(180deg);
    /* transform-origin: x, y
        x: left,center,right
        y: top, center, bottom 
    */
    transform-origin: right bottom; 
}